<div class="container">

    <div class="sidebar">

        <nav>

            @if(currentUser.length === 0) {
                <a routerLink="auth">Login/Register</a>
                <a routerLink="/">NFT's</a>
                <a>Profile</a>
                <a>My NFT's</a>
                <a>Create nft</a>
            } @else {
                <p class="login">{{ currentUser }}</p>
                <a routerLink="/">NFT's</a>
                <a routerLink="/profile">Profile</a>
                <a routerLink="my-nfts">My NFT's</a>
                <a routerLink="create-nft">Create nft</a>
                @if(currentUser.length > 0) {
                    <a (click)="exit()">Exit</a>
                }

            }
        </nav>

    </div>

    <main>

        <router-outlet></router-outlet>        

    </main>

</div>